.m-index{
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  .l-container{
    @include flex(1);
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
  }
    footer{
      height: .44rem;
      background: #333;
      ul{
        @include flexbox();
        height: 100%;
        li{
          @include flex(1);
          width: 100%;
          text-align: center;
          line-height: .44rem;
          color: #fff;
          font-size: .15rem;
          &.active
         {
            color: red;
          }
        }
      }
    }
}
