@charset "utf-8";

@import "../lib/core/reset";
@import "./core/common";
@import "./core/swiper-3.3.1.min.css";


// layout
spa-app {
    position: absolute;
    overflow: hidden;
}

spa-view {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #eceef0 !important;
    @include flexbox(flex);
    @include flex-direction(column);
}


@import "./module/home";
@import "./module/index";
@import "./module/guide";
@import "./module/goos-shop";
@import "./module/my";
@import "./module/share";
