@font-face {
  font-family: yofont;
  src: url("/Btpingchuan/images/iconfont/iconfont.woff") format("woff"), url("/Btpingchuan/images/iconfont/iconfont.ttf") format("truetype");
}


@font-face {
  font-family: yofont;
  src: url("/Btpingchuan/images/iconfont/iconfont-menu.woff") format("woff"), url("/Btpingchuan/images/iconfont/iconfont-menu.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/Btpingchuan/images/iconfont/iconfont-menu1.woff") format("woff"), url("/Btpingchuan/images/iconfont/iconfont-menu1.ttf") format("truetype");
}
